@font-face {
  font-family: "PropCourierSans";
  src: url("fonts/PropCourierSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,700);


body {
  font-size: 21px;
  line-height: 1.5;
  font-family: 'Crimson Text', serif;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background: #a73737;
  background: -webkit-linear-gradient(90deg, #a73737 10%, #7a2828 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #a73737 10%, #7a2828 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #a73737 10%, #7a2828 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #a73737 10%, #7a2828 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #a73737 10%, #7a2828 90%); /* W3C */
  display: block;
  padding: 10%;
  text-align: center;
  color: #fff;
}

header p {
  color: #fff;
  opacity: 0.7;
}

nav {
  width: 30%;
  float: left;
}

nav ol {
  margin-top: 0;
}

article {
  margin-left: 35%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 3em 0 1.5em;
}

h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  font-size: 28px;
}

h2 + p::first-line {
  color: #a73737;
}

h2 + p::first-letter {
  font-size: 36px;
}

p {
  color: rgba(0,0,0,0.8);
}

a {
  color: #a73737;
  text-decoration: none;
}

a:hover {
  color: rgba(122, 40, 80, 1);
  text-decoration: underline;
}

figure,
.gallery {
  max-width: none !important;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 3em 0;
}

img {
  padding: 2px;
  border: 1px solid #ccc;
  border-radius:4px;
}

figure img {
  width: 30%;
  margin: 0;
}

table {
  text-align: left;
  border: 1px solid #efefef;
}

td,
th {
  padding: 20px;
}

th {
  background: #efefef;
}

caption {
  text-align: center;
  padding: 10px;
  font-style: italic;
}

.auto-columms {
  outline: 1px solid #a73737;
  padding: 23px;
  font-family: 'PropCourierSans';
  -webkit-column-width: 7em;
}
